@model Yi.Framework.Model.Search.Goods

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Goods</h4>
    <hr />
    <dl class="row">
     <dt class = "col-sm-2">
       GoodsId:
        </dt>
        <dd class = "col-sm-10">
         @Model.id
        </dd>
        <dt class = "col-sm-2">
          品牌:
        </dt>
        <dd class = "col-sm-10">
          @Model.brand.name
        </dd>

    </dl>
</div>
<div>

</div>
